doctype html
html
  head
    title Managing organizations
    block scripts
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    link(rel='shortcut icon' type='image/ico' href="images/favicon.ico")
  body
    header
      span.header Managing organizations
    block content